@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #696969;
  color: #FFFFFF;
}

h1 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 2rem;
}
h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 1rem;
}

p {
  font-size: 2rem;
  font-family: 'Arial', sans-serif;
}
