@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #16a085;
  color: #fff;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}
h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
}

p {
  font-size: 2rem;
  font-family: 'Arial', sans-serif;
}
