@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Zetta&display=swap');

/*		=====================
	M O B I L E  F I R S T
=====================*/

/*GERAL*/

html, body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #000000;
}
h1, h2, h3 {
	margin: 0;
	font-family: "Ubuntu Mono", Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.olamundo { /*SUBLINHADO LARANJA*/
	background-color: #FF8C00;
	padding: 2px;
}
.divisor-black {
    border-bottom: 1px solid #000000;
    width: 20%;
    margin: 50px 0 25px 0;
}
.divisor-white {
    border-bottom: 1px solid #ffffff;
    width: 20%;
    margin: 50px 0 25px 0;
}
footer {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    text-align: center;
    font-family: "Ubuntu Mono";
    font-size: 12px;
}


/* index.html =====================
		SESSÕES

	M E N U  N A V E G A Ç Ã O
	Feito com BOOTSTRAP v.4.3.1


	C A B E Ç A L H O
*/
header {
	background: url("imagens/header.jpg") no-repeat center;
	background-size: cover;
	color: #ffffff;
	text-align: center;
	padding: 1em;
	height: 90vh;
}
header h1 {
	font-size: 1em;
	font-weight: bold;
}
/* JAVASCRIPT (EFEITO MÁQUINA DE ESCREVER) */
header h1::after{
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: pisca .4s infinite;
}
@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
header img {
	width: 50%;
	border-radius: 50%;
	padding: 0.5em;
	margin: 2em 0 2em 0;
}
header div p {
	padding: 1em;
}
.msg-boasvindas{
	padding: 2em .5em;
}


/*	S E R V I Ç O S		*/
#servicos {
	display: flex;
	flex-direction: column;
	color: #000000;
	align-items: center;
	text-align: center;
	padding: 2em;
}
#servicos h2 {
	padding: 1em 1em 0 1em;
}


/*	P O R T F O L I O	*/
#portfolio {
	display: flex;
	flex-direction: column;
	color: #000000;
	align-items: center;
	text-align: center;
	padding: 2em;
}

.icon{
	width: 10%;
}
.container {
	padding: .5em;
}
.box-icon {
	    padding: .5em 0;
}
.msg-certificado {
	padding: 1em 1em;
}

/*	C O N T A T O		*/
#contato {
	display: flex;
	flex-direction: column;
	color: #ffffff;
	align-items: center;
	text-align: center;
	padding: 20px;
	background-color: #001628;
}
.icon-contato{
	width: 50%;
}
#contato p a{
	text-decoration: none;
	color: #ffffff;
}


/* sobre.html =====================
		
*/
#sobre{
    color: #000;
    padding: 2em;
    text-align: center;
}
#memorial {
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 0 2em 0 2em;
}
#memorial p a{
	text-decoration: none;
	color: #ff8c00;
}


/* servicos.html =====================
		
*/
#servicos-pg {
    display: flex;
    flex-direction: column;
    color: #000;
    align-items: center;
    text-align: center;
    padding: 2em;
}


/* portfolio.html =====================
		
*/
#indice {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
#indice ul li{
	list-style: none;
}
#indice ul li a{
	text-decoration: none;
	color: #ff8c00;
}
#curriculo{
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
}

#certificados {
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
    text-align: center;
}
.certificados {
	width: 100%;
	border: 2px solid #fff;
}


/* blog.html =====================
		
*/
#blog {
	padding: 2em;
	color: #000;
    	text-align: center;	 
}
#blog a img{
	width: 100%;
}
#blog article {
	padding: 2em;
	background-color: #fff;
    	color: #000;
	margin: .5em;
}
#blog h4 {
	font-size: 20px;
}
.artigos {
    display: flex;
    flex-direction: column;
}
.artigo {
	display: none;
}
#blog p {
	text-align: left;
}
.artigo a {
	text-decoration: none;
    	color: #f80;
}
.imagens-artigo {
        width: 95%;
}



/*		=====================
	D E S K T O P
=====================		*/
@media screen and (min-width: 729px) {
	/* index.html =====================	
	M E N U  N A V E G A Ç Ã O
	Feito com BOOTSTRAP v.4.3.1


	C A B E Ç A L H O
	*/
	header {
		background-attachment: fixed;
	}
	header img {
		width: 30%;
	    	padding: 2em;
	}
	
	header div p {
		padding: 0em;
	}
	header h1 {
		padding: 2em;
		font-weight: 100;
	}
	.msg-boasvindas {
		padding: 0em 2em;
    		font-size: 2em;
	}
	
	/* C O N H E C I M E N T O S
	E  H A B I L I D A D E S */
	.icon {
		width: 10%;
    		padding: .5em 1em;
	}
	
	
	/* sobre.html =====================
		
	*/
	#memorial {
		padding: 2em 10em;
	}

	
	/* servicos.html =====================
		
	*/
	
	
	/* portfolio.html =====================
		
	*/
	
	
	/* blog.html =====================
		
	*/
	#blog{
		padding: 2em 10em;
	}
	.artigos {
		display: flex;
		justify-content: center;
	}
	#blog article {
		margin: 1em;
    		width: 40%;
	}
}
