$orange: #ffc107;

#sobre {
    margin-top: 2em;
    font-family: 'Spectral', serif;
}
#sobre h1 {
    text-align: center;
}
#sobre p{
    text-align: justify;
}

.resumo {
    margin: 2em 2em;
    padding: 2em;
    font-family: 'Ubuntu Mono';
    border: 3px solid $orange;
}

.bi-lightbulb, .resumo > b, .conteudo > b, .conteudo > ol > li > a{
    color: $orange;
}
.conteudo{
    margin: 1em 2em;
}
blockquote{
    background-color: #e8e8e886;
    padding: 1em 3em 1em 2em;
    border-left: 3px solid $orange;
}
blockquote p{
    margin: 0;
}
#sobre img{
    width: 100%;
    margin-bottom: 1em;
}
.conteudo ol li a{
    text-decoration: none;
}
.conteudo ol li a:hover{
    background-color: $orange;
    color: $black;
}

// T A B E L A

.table-container{
    overflow-x: auto;
    table{
        border: 2px solid #ef8f00;
        width: 90%;
        background: linear-gradient(to bottom right, #0D1317, #28353c);
        margin: auto;
        border-radius: 5px;
        tr{
            border-radius: 5px;
        }
        th, td{
            padding: 10px;
            color: white;
            text-align: center;
        }
        thead{
            background:#ffa012fa;

            th{
                font-weight: bold;
                letter-spacing: 5px;
                text-transform: uppercase;
            }
        }
        tbody{
            tr{
                border: 1px solid #ffffff1e;
                td{
                    &:first-child{
                        font-weight: bold;
                        background-color: #ffa012fa;
                    }
                
                }

                
            }
        }
        tfoot{
            tr{
                td{
                    font-weight: bold;

                    &:first-child{
                        text-transform: uppercase;
                        background-color: #ffa012fa;
                    }

                    img{
                        height: 30px;
                    }
                }
            }
        }
    }
}