$orange: #ffc107;

#sobre {
    margin-top: 2em;
    font-family: 'Spectral', serif;
}
#sobre h1 {
    text-align: center;
}
#sobre p{
    text-align: justify;
}

.resumo {
    margin: 2em 2em;
    padding: 2em;
    font-family: 'Ubuntu Mono';
    border: 3px solid $orange;
}

.bi-lightbulb, .resumo > b, .conteudo > b, .conteudo > ol > li > a{
    color: $orange;
}
.conteudo{
    margin: 1em 2em;
}
blockquote{
    background-color: #e8e8e886;
    padding: 1em 3em 1em 2em;
    border-left: 3px solid $orange;
}
blockquote p{
    margin: 0;
}
#sobre img{
    width: 100%;
    margin-bottom: 1em;
}
.conteudo ol li a{
    text-decoration: none;
}
.conteudo ol li a:hover{
    background-color: $orange;
    color: $black;
}