@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap";

#sobre {
    font-family: "Open Sans Condensed";
}
#sobre h1 {
    text-align: center;
}
.resumo {
    margin: 2em 2em;
    padding: 2em;
    border: 3px solid #ffc107 ;;
}
.conteudo{
    margin: 1em 2em;
}
#sobre img{
    width: 450px;
}