$orange: #ffc107;

#sobre {
    margin-top: 2em;
    font-family: 'Spectral', serif;
}
#sobre h1 {
    text-align: center;
}

.resumo {
    margin: 2em 2em;
    padding: 2em;
    font-family: 'Ubuntu Mono';
    border: 3px solid $orange;
}
b, .bi-lightbulb{
    color: $orange;
}

.conteudo{
    margin: 1em 2em;
}
blockquote{
    background-color: #ffc1072a;
    padding-left: 2em;
    border-left: 3px solid $orange;
}
#sobre img{
    width: 100%;
}