// HOME
#servicos{
    background-color: #1e1e2a;
}
#portfolio{
    background-color: #111429;
}

.chamada{
    background-image: url("../images/img1.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: $white;
    margin-top: -3.5em;
}
.chamada img{
    width: 15em;
    border-radius: 50%;
}
.mensagem{
    padding: 5em;
}
.mensagem h1{
    font-size: 25px;
    font-weight: 700;
    font-family: "Ubuntu Mono";
}


