// HOME
/* #projetos{
    background-color: #4059AD; //111429;
}
#habilidades{
    background-color: #6B9AC4; //1f1f38;
} */

.chamada{
    background-image: url("../images/header.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: $white;
    margin-top: -3.5em;
}
.chamada img{
    width: 180px;
    border-radius: 50%;
}
.mensagem{
    padding: 2em;
}
.mensagem h1{
    font-size: 2em;
    font-weight: 700;
    font-family: "Ubuntu Mono";
}

// PROJETOS
.projetos-mensagem{
    padding: 1em 2em;
}

// HABILIDADES
#habilidades h2 {
    padding-bottom: 1em;
}
#habilidades img {
    width: 35px;
}
#habilidades .btn{
    margin-top: 2em;
}
.habilidades-mensagem {
    padding: 0 2em 2em 2em;
}