// Importação do Bootstrap
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import "../../node_modules/bootstrap/scss/bootstrap";

// ESPAÇAMENTO
.container-fluid{
    padding: 0px;
}

// MENU
.navbar{
   padding: .5em;
}

// ICONS
.bi:hover{
    color: $bg-dark;
}

.active{
    background-color: $gray-400 !important;
}