// Importações
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./home";
@import "./about";

@import "https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap";
@import "https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap";

// inicio
$principal: #090e18;


html,body{
    font-family: 'Ubuntu Mono', 'Spectral', Helvetica, sans-serif !important;
    color: $black;
}
header, #habilidades, #projetos {
    text-align:center;
    height: 100vh;
    padding: 25vh 2em 0 2em;
}

// ESPAÇAMENTO
.container-fluid{
    padding: 0px;
}

// MENU
.navbar{
   padding: .5em;
}
.bg-dark {
    background-color: $principal !important;
}

// ICONS
.bi:hover{
    color: $white;
}

// SCROLL LINKS
.link-scroll{
    color: $gray-400;
    background-color: #090e184f;
}
.link-scroll:hover{
    color: $white;
}


footer{
    background: linear-gradient(180deg, #ffffff 0%, #cecece 100%);
    margin-bottom: -1em;
    padding: 1em;
}
footer > p{
    text-align: center;
    margin: 0 !important;
}

@media (max-width: 992px) {
    .navbar{
        position:fixed;
        right:0;
        bottom:0;
        left:0;
        z-index:1030 
    } // Para o menu mobile fixar no bottom
    footer{
        margin-bottom: 3.5rem;
        background: linear-gradient(180deg, #ffffff 0%, #cecece 100%);
    }
}