@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("node_modules/bootstrap/scss/bootstrap.scss");
.container-fluid {
  padding: 0px; }

.navbar {
  padding: .5em; }

.bi:hover {
  color: #fff; }

.dropdown-item:hover {
  background-color: #0e0e0e;
  color: #fff; }
